#
# User name: "{{ item.name }}"
# User public key: "{{ item.publickey }}"

[Interface]
PrivateKey = [User Private Key]
Address = {{ item.ip }}

[Peer]
PublicKey = {{ server_public_key }}
PresharedKey = {{ preshared_key }}
AllowedIPs = {{ wireguard_peers_allowed_ips }}
Endpoint = {{ wireguard_hostname }}:{{ wireguard_port }}
PersistentKeepalive = {{ peer.keepalive | default(wireguard_keepalive) }}

